
*{
    margin: 0;
    padding: 0;
}
/* @media all and (min-width: 768px){ */
.portada {
    position: relative;
    width: 100%;
    background-position: center;
    top: -4rem;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    
}

.portada img {
    width: 100%;
      
    
   
}

.portada::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0rem;
   
    background: linear-gradient(to bottom, rgba(233,233,233,1) 0%,rgba(233,233,233,0.0) 50%,rgba(233,233,233,0.0) 100%);
}

.descripcion{
    display: flex;
    justify-content: center;
}
.textoArtesana{
    width: 80%;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    opacity: 0.8;
    
}
.fotoArtesana{
    width: 80%;
}

.texto-main {
    position: absolute;
    width: 50%;
    height: 45vh;
    padding: 3rem;
    max-width: 1300px;
    margin: auto;
    top: 9rem;
    font-size: 1.3rem;
    z-index: 2;
    opacity: 0.8;
    font-family: 'Roboto',sans-serif;
}
.texto-main spam{
    color: #EAA798;
}
.textoDerTorno{
    display: flex;
    justify-content: center;
    

}

[class*="divisionPadre"]{
    
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
[class*="separador"]{
    width: 90%;
    background-color: black;
     height: 1px;
}
.divisionPadre{
    position: relative;
    
}
.divisionPadre2{
    position: relative;
    
}

.textoTorno{
    width: 80%;
    font-family: 'Roboto',sans-serif;
    margin-top: auto;
    font-weight: bold;
    opacity: 0.8;
}
.fotoTorno{
    width: 80%;
}
.fotoMesa{
    width: 50%!important;
}
.textoDerMesa{
    display: flex;
    align-items: center;
    

}
.texto-der-main{
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    opacity: 0.8;
}

.foto-izq-main img {
    width: 100%;
}

div img{
    width: 100%;
    border-radius: 1rem;
    

}
.container2{
    position: relative;
    top: 0rem;
}

/* } */