.portada {
    position: relative;
    top: 7rem;
    width: 100%;
    background-position: center;
}

.portada img {
    width: 100%;
}

.texto-main {
    position: relative;
    width: 100%;
    height: 45vh;
    padding: 3rem;
    max-width: 1300px;
    margin: auto;
    top: 4rem;
    font-size: 1.3rem;
    font-family: 'Vollkorn', serif;
}

.foto-izq-main img {
    width: 100%;
}