.imagen{
  
    height: 17.8rem;
}
.verDetalle{
    
position: relative;
top: 2rem;
}

.card{
    width: 18rem;
}
.card-text{
    position: absolute;
    top:85% ;
    font-size: 1.3rem;
    left: 7rem;

}