.botones{
    display: flex;
    color: black;
    position: absolute;
    display: inline-block;
    left: 51rem;
    top: 22rem;
    }
.botonDeMenos{
    background-color: #eaa798;
    position: absolute;
    left: 0rem;
}
.botonDeMas{
    background-color: #eaa798;
    position: absolute;
    left: 16rem;
    top: .1rem;
}
.botonAgregar{
    position: absolute;
    top: 28rem;
    left: 56rem;
    background-color: #eaa798;
}
.marcador{
    position: relative;
    top: .5rem;
    left: 8rem;
    font-size: 1.7rem;
}