.botones{
    display: flex;
    color: black;
    position: relative;
    display: inline-block;
    left: 2rem;
    top: -23rem;
    }
.botonDeMenos{
    background-color: #eaa798;
    position: absolute;
    left: 0rem;
}
.botonDeMas{
    background-color: #eaa798;
    position: absolute;
    left: 16rem;
    top: .1rem;
}
.botonAgregar{
    position: relative;
    top: 23rem;
    left: 0rem;
    background-color: #eaa798;
}
.marcador{
    position: relative;
    top: .5rem;
    left: 8rem;
}