#barra {
   background-color: #e9e9e9!important;
    width: 100%;
    z-index: 2;
  
}

#items{
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    z-index: 34;
    opacity: 1;
}

#items a {
     opacity: 1;
    position: relative;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}
#basic-navbar-nav{
    z-index: 21;
}

#items a::after {
    content: "";
    background-color: #EAA798;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    opacity: 0;
}
.navLink{
    text-decoration: none;
    color: black;
    position: relative;
    top: 8px;

}

#items a:hover::after {
    opacity: 0.8
}
.carrito{
    color: black;
    font-size: 2.5rem;

}

.cartWidget{
    display: flex;
    justify-content: end;
    align-items: center;

}