.card1{
    position: relative;
}

.card-text1{
    position: absolute;
    top: 9rem;
    left: 51rem;
    font-size: 1.7rem;
    z-index: 1000;
}
.name-card1{
    
display: inline-block;
    position: absolute;
    top: -0;
    left: 54rem;
    font-size: 3rem;
}

.contador{
    position: relative;
    top: -2.4rem;
    left: 1rem;
}
.imagen-card1{
    position: absolute;
    width: 40%;
    left: 15rem;
}
.card-price{
    position: absolute;
    left: 57rem;
    top: 16rem;
    font-size: 3rem;
}


